
// Bootstrap Variables
$icon-font-path: '../fonts/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.map-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: rgb(50,50,50);
}
#map{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.map-overlay{
  position: relative;
  background: rgba(212,212,212,.8);
  top: 0;
  width: 20%;
  height: 100%;
  padding: 20px;
}
.brand{
  font-family: serif;
  font-size: 14px;
  font-weight: bold;
}
.login{
  position: absolute;
  width: 50%;
  padding: 20px;
  left: 25%;
  top: 10%;
  background: rgba(212,212,212,.8);
}
.login-container{
  input, button{
    width: 100%;
    margin-bottom: 16px;
  }
  a{
    display: inline-block;
    width: 100%;
    text-align: center;
  }

}
